{% load league_tags bootstrap3 i18n %}
{% get_meijin as meijin %}
<div class="panel panel-default ">
<div class="panel-heading">{% trans "Game infos" %}</div>
<div class="panel-body">
  <div class="col-md-6">
<p>{% trans "White:" %} {{sgf.white |user_link:meijin}}</p>
<p> {{sgf.date|date:"M d, Y" }}</p>
<p> <a href="{% url 'league:sgf' sgf.pk%}">{% bootstrap_icon 'save' %} {% trans "Download sgf" %}</a><p>
</div>
<div class="col-md-6">
<p>{% trans "Black:" %} {{sgf.black |user_link:meijin}}</p>
<p>{{sgf.result}}</p>

{% if event %}
  {% if event.event_type == "tournament" %}
  <p> <a href="/tournament/{{event.pk}}/games/{{sgf.pk}}">{% bootstrap_icon 'link' %} {% trans "Permalink" %}</a></p>
{% else %}
  <p> <a href="/league/games/{{sgf.pk}}">{% bootstrap_icon 'link' %} {% trans "Permalink" %}</a></p>
{% endif %}
{% else %}
  <p> <a href="/league/games/{{sgf.pk}}">{% bootstrap_icon 'link' %} {% trans "Permalink" %}</a></p>
{% endif %}
</div>
</div>
</div>
